.StageContainer {
    width: 200px;
    height: 200px;
    border-radius: 4px;
    padding: 3px;
    background-color: #29e;
    touch-action: none;
    position: absolute;
}

.StageTitleLabel {
    font-size: 10px;
}



.UnitContainerStyles {
    max-height: 80%;
    overflow: auto;
}

.UnitCardStyles {
    width: 40px;
    padding: 5px;
}

.UnitPrimaryLabel {
    font-size: 8px
}

.UnitSecondaryLabel {
    font-size: 6px
}

.UnitBodyStyles {
    line-height: 5px;
}

