@{
    ViewData["Title"] = "Vysor Dashboard Sample";
}


<div class="row" style="height: 100% !important">
    <div class="col-2">
        <div class="mt-1 mb-1">
            <form>
                <div class="mb-3 mt-3">
                    <label for="stageName" class="form-label">Stage name:</label>
                    <input id="stageName" type="text" class="form-control" placeholder="Stage Name" name="stageName">
                </div>
                <div class="mb-3 mt-3">
                    <input id="stageColor" type="color" class="form-control form-control-color" value="#CCCCCC">
                </div>
                <div class="mb-3 mt-3">
                    <button id="BtnAddStage" type="button" class="btn btn-primary">Add Stage</button>
                    <button id="BtnClearVysor" type="button" class="btn btn-danger">Clear Vysor</button>
                </div>


                <div class="form-check mb-3">
                    <label class="form-check-label">
                        <input id="DisableEditStages" class="form-check-input" type="checkbox" name="DisableEditStages"> Disable Edit Stages
                    </label>
                </div>
            </form>
        </div>
        <table id="VysorTable" class="table table-success">
            <thead>
                <tr><th>Vysor</th></tr>
            </thead>
            <tbody id="VysorTableContent">
            </tbody>
        </table>
    </div>
    <div id="VysorContainer" class="col-10 bg-success bg-opacity-50">
@*         <div id="grid-snap" class="grid-snap">
            Dragging is constrained to the corners of a grid
        </div> *@
    </div>
</div>

