@{
    ViewData["Title"] = "Mockups";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-4">
        <div class="card UnitCardStyles">
            <img class="card-img-top" src="~/img/truck.png" alt="Card image">
            <div class="card-body p-0 UnitBodyStyles">
                <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                <label class="UnitSecondaryLabel">30 min.</label>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="StageContainer">
            <div class="row">
                <div class="col-2 m-0">
                    <button class="btn btn-danger p-1 m-0">X</button>
                </div>
                <div class="col-10 m-0">
                    <label class="m-0 StageTitleLabel">Sample Stage Title</label>
                </div>
            </div>
            <div class="d-flex flex-wrap p-1 UnitContainerStyles">
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
                <div class="card UnitCardStyles">
                    <img class="card-img-top" src="~/img/truck.png" alt="Card image">
                    <div class="card-body p-0 UnitBodyStyles">
                        <label class="fw-bold UnitPrimaryLabel">PAT123</label>
                        <label class="UnitSecondaryLabel">30 min.</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
